---
section: home
layout: 'layouts/base.njk'
---
<div class="text-center">
	<h1><span class="h3">Hello, my name is</span>
		<span class="h1">{{ site.author }}</span></h1>
	<p>{{ site.authorBio }}</p>
</div>