---
section: root
layout: 'layouts/base.njk'
---
{% from 'components/icon-macro.njk' import icon %}
{% from 'components/dictionary/portfolio/term-factory.njk' import createTerm, termList with context %}
{% from 'components/dictionary/term-macros.njk' import termList as termListRenderer %}

<h1 class="visually-hidden">{{ metadata.author }}</h1>
<section class="text-center content-block">
  <div class="icon-hero">
    <span class="icon icon-framed icon-cropped avatar-hero">
      <img alt="Picture of Timur Tripp" src="https://assets.timurtripp.com/avatar-1.jpg">
    </span>
  </div>
  <span class="h1" aria-hidden="true">{{ metadata.author }}</span>
  <p>{{ metadata.authorBio }}</p>
  <ul class="d-inline-block mt-0 p-0 list-unstyled text-center">
    {% if metadata.email %}
      <li class="my-2 d-flex flex-row">
        <a class="d-flex flex-row gap-1 align-items-center no-underline" href="mailto:{{ metadata.email }}">
          {{ icon({ faSolid: 'Envelope' }) }}
          <span class="visually-hidden">Email:</span>
          <span class="underline">{{ metadata.email }}</span>
        </a>
      </li>
    {% endif %}
    {% if socials %}
      {% for social in socials %}
        <li class="my-2 d-flex flex-row">
          <a class="d-flex flex-row gap-1 align-items-center external-link no-underline" target="_blank" href="{{ social.url }}">
            <span aria-hidden="true" class="icon icon-monochrome">
              {% brandIcon social.icon %}
            </span>
            <span class="visually-hidden">{{ social.name }}:</span>
            <span class="underline">{{ social.username }}</span>
            {{ icon({ icon: 'external' }) }}
          </a>
        </li>
      {% endfor %}
    {% endif %}
  </ul>
  <div class="row">
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <div class="card-hero-icon">
            <div class="icon-64">
              {{ icon({ icon: 'graduationCap' }) }}
            </div>
          </div>
          <span class="h3">Master of Science</span>
          <p>Computer Science</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <div class="card-hero-icon">
            <div class="icon-64">
              {{ icon({ icon: 'buildings' }) }}
            </div>
          </div>
          <span class="h3">Professional Experience</span>
          <p>Web development, web applications, and Drupal CMS (2.5 years)</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <div class="card-hero-icon">
            <div class="icon-64">
              {{ icon({ icon: 'stack' }) }}
            </div>
          </div>
          <span class="h3">Breadth of Expertise</span>
          <p>10+ personal and professional projects across the stack</p>
        </div>
      </div>
    </div>
  </div>
  <a class="h2 no-underline d-flex flex-row gap-4 justify-content-center align-items-center" href="/portfolio/">
    <div class="icon-64">
      {{ icon({ icon: 'briefcase' }) }}
    </div>
    <span class="underline underline-squiggle">Portfolio</span>
    {{ icon({ icon: 'triangleRight' }) }}
  </a>
</section>
<section class="content-block">
  <h2>About</h2>
  <p>I’m a software engineer with a 16 year passion for web and application development. I first learned to code as a 10-year-old in 2009, using books and online tutorials to learn HTML, CSS, PHP, and JavaScript to build the first iteration of my TimurTripp.com website. Since then, across my education, work experience, and hobby projects I’ve gained hands-on experience with real-time client-server applications, machine learning, Linux system administration, cybersecurity, and more. I earned my Master of Science in Computer Science from University of Colorado Boulder in May 2025.</p>
  <h4>Open to new oppertunities.</h4>
  <ul>
    <li>Software engineering</li>
    <li>Application development</li>
    <li>Web development</li>
    <li>Web CMS</li>
    <li>DevOps</li>
    <li>Cybersecurity</li>
  </ul>
</section>
<section class="content-block">
  <h2>Skillset</h2>
  {{ termListRenderer(termList(portfolio.dictionary._tagCategories | keys, '_tagCategories'), createTerm, termList) }}
</section>
