html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    color: var(--theme-text-normal);
    background: var(--theme-background-bg);
    font-family: var(--font-normal);
	font-size: 1.2rem;
	line-height: 1.2em;
}

h1, .h1 {
	display: block;
    color: var(--theme-text-strong);
    font-family: var(--font-emphasis);
    font-weight: 900;
    font-size: 4rem;
	text-align: center;
}

.h1-like {
	display: block;
	height: 4rem;
	text-align: center;
}

h2, .h2 {
	display: block;
	color: var(--theme-text-strong);
	font-family: var(--font-emphasis);
	font-weight: 900;
}

h2, .h2, h3, .h3, .large-text {
	font-size: 2.5rem;
}

h4, .h4, th {
	font-size: 1.5rem;
}

h5, .h5 {
	font-size: 1.25rem;
}

h6, .h6 {
	font-size: 1rem;
}

h3, .h3, h4, .h4, h5, .h5, h6, .h6, th {
	display: block;
	width: 133.33%;
	color: var(--theme-text-strong);
	font-family: var(--font-secondary);
	font-weight: 400;
	transform: scale(.75, 1);
	transform-origin: 0;
	padding-bottom: .1em;
}

.text-like, .text-like svg {
	height: 1em;
}

.normal-text {
	font-size: 1.2rem;
}

.enlarged-text {
	font-size: 2em;
}

.tiny-text {
	font-size: .6rem;
}

.jumpable-heading {
	padding-top: 2rem;
}

.jumpable-heading-text {
	display: inline-block;
	box-sizing: content-box;
	border-bottom: 3px solid var(--theme-color, --default-theme-color);
}

.jumpable-heading-link:link, .jumpable-heading-link:visited {
	position: absolute;
	display: block;
	left: 0;
	width: 0;
	height: 3px;
	background-color: var(--theme-color-alt, --default-theme-color-alt);
	overflow: hidden;
	text-decoration: none;
	border-bottom: none;
	margin-top: calc(-0.5rem + 3px);
}

a:link, a:visited {
	display: inline-block;
	color: var(--theme-color-alt, --default-theme-color-alt);
	text-decoration: none;
	border-bottom: 1px dotted transparent;
	margin-bottom: -.125em;
}

a:hover, a:focus, a:active {
	border-bottom: 1px solid var(--theme-color-alt, --default-theme-color-alt); 
}

code {
	display: inline-block;
	color: var(--theme-text-strong);
	background-color: var(--theme-foreground-bg);
	font-family: var(--font-mono);
}

pre, pre[class*='language-'] {
	position: relative;
	display: block;
	width: auto;
	background-color: transparent;
	overflow-x: auto;
	color: var(--theme-text-strong);
	padding: 0;
}

pre code, pre[class*='language-'] code {
	color: var(--theme-text-strong);
	background-color: transparent;
	border-left: 3px solid var(--theme-color, --default-theme-color); 
	line-height: 1.4em;
	vertical-align: auto;
	font-family: var(--font-mono);
	font-size: 1em;
	padding: 10px 20px;
}

p code {
	border-radius: 4px;
	line-height: 1.4em;
	padding: 0 .5em;
}

blockquote {
	position: relative;
	display: block;
	overflow: hidden;
	padding: 1rem 0 0 12px;
}

blockquote p {
	color: var(--theme-text-strong);
	background-color: var(--theme-foreground-bg);
	padding: 0 1em;
}

blockquote p:first-child {
	padding-top: 1em;
}

blockquote p:last-child {
	padding-bottom: 1em;
}

blockquote::before {
	position: absolute;
	display: block;
	left: 0;
	top: 0;
	width: 24px;
	height: 100%;
	background-color: var(--theme-color, --default-theme-color);
	-webkit-mask-image: url('/assets/theme/curve-vertical.svg');
	mask-image: url('/assets/theme/curve-vertical.svg');
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: 100%;
	mask-size: 100%;
	-webkit-mask-position: top left;
	mask-position: top left;
	content: '';
}

h1::after {
	display: block;
	height: 50px;
	background-color: var(--theme-color, --default-theme-color);
	-webkit-mask-image: url('/assets/theme/header-underline.svg');
	mask-image: url('/assets/theme/header-underline.svg');
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-position: center center;
	mask-position: center center;
	margin-bottom: 2rem;
	content: '';
}

h1.no-underline::after {
	display: none;
}

.item-underline, .item-underline:link, .item-underline:visited {
	color: var(--theme-text-strong);
}

a::after {
	display: block;
	height: .25em;
	background-color: var(--theme-color-alt, --default-theme-color-alt);
	-webkit-mask-image: url('/assets/theme/link-underline.svg');
	mask-image: url('/assets/theme/link-underline.svg');
	-webkit-mask-repeat: repeat;
	mask-repeat: repeat;
	border-radius: .125em;
	margin-bottom: 0;
	margin-top: -.2em;
	z-index: 99;
	content: '';
}

hr, table thead th::after {
	display: block;
	border: 0;
	border-bottom: 4px dotted var(--theme-color, --default-theme-color);
}

hr {
	width: 100%;
	opacity: 1;
}

table thead th::after {
	width: 75%;
	transform: scale(calc((1 / 3) + 1), 1);
	transform-origin: 0;
}

table {
	border-radius: 12px;
}

th {
	display: table-cell;
	width: auto;
	transform-origin: calc(50% + 10px);
	line-height: 1.8rem;
	border-right: 1px solid var(--theme-contrast-bg);
	border-bottom: 1px solid var(--theme-contrast-bg);
	padding: 10px;
}

th::after {
	width: 100%;
	content: '';
}

td {
	text-align: center;
	border-right: 1px solid var(--theme-contrast-bg);
	border-bottom: 1px solid var(--theme-contrast-bg);
	padding: 5px 10px;
}

tr th:last-child, tr td:last-child {
	border-right: none;
}

tr:last-child td {
	border-bottom: none;
	padding-bottom: 10px;
}

h1, .h1, .h1-like, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, hr, ul, ol, table, pre, pre[class*='language-'], .content-block {
	margin: 1rem 0;
}

.compact-content h1, .compact-content .h1, .compact-content .h1-like, .compact-content h2, .compact-content .h2, .compact-content h3, .compact-content .h3, .compact-content h4, .compact-content .h4, .compact-content h5, .compact-content .h5, .compact-content h6, .compact-content .h6, .compact-content p, .compact-content ul, .compact-content ol, .compact-content table, .compact-content pre, .compact-content pre[class*='language-'], .compact-content .content-block {
	margin: 0;
}

.tooltip {
	--bs-tooltip-color: var(--theme-text-strong);
	--bs-tooltip-bg: var(--theme-foreground-translucent-bg);
	--bs-tooltip-opacity: 1;
	font-family: var(--font-normal);
	font-size: 1rem;
}

.nested-content {
	font-size: 1rem;
}

.hero {
	text-align: center;
}

.hero * {
	justify-content: center;
}

.section-block {
	margin: 2rem 0;
}

@media (max-width: 1199px) {
	h1, .h1, .h1-like {
		font-size: calc(3rem + 1.2vw);
	}
	h2, .h2, h3, .h3, .large-text {
		font-size: calc(1.67rem + 1.2vw);
	}
}
