{% macro breadcrumbDepth(section, depth) %}
  {% if section.parent %}
    {{ breadcrumbDepth(sections[section.parent], depth + 1) }}
  {% else %}
    {{ depth }}
  {% endif %}
{% endmacro %}
{% macro breadcrumb(section, depth, maxDepth) %}
  {% if section.parent %}
    {{ breadcrumb(sections[section.parent], depth + 1, maxDepth) }}
  {% endif %}
  {# Prevents current page link from showing up under parent pages #}
  {% if page.url != section.url %}
    <li class="breadcrumb-depth-{{ maxDepth - depth }}">
      <a class="no-underline" href="{{ section.url }}">
        <span aria-hidden="true" class="triangle-left"></span>
        <span class="underline">{{ section.name }}</span>
      </a>
    </li>
  {% endif %}
{% endmacro %}
{% if section %}
  {% set section = sections[section] %}
  {% set maxDepth = breadcrumbDepth(section, 0) | int %}
  <div class="container block-breadcrumb">
    <h4 class="visually-hidden">Parent pages</h4>
    <ul>
      {{ breadcrumb(section, 0, maxDepth) }}
    </ul>
  </div>
{% endif %}
