{% extends './main.njk' %}
{% from 'components/icon-macro.njk' import icon %}
{% block content %}
<h1 class="no-underline">
	<div class="d-flex flex-row gap-4 justify-content-center align-items-center">
		<div>{{ icon({ icon: 'bomb' }) }}</div>
		<div>{{ errorCode }}</div>
	</div>
</h1>
<p>
	<div class="d-flex flex-row gap-2 justify-content-center align-items-center">
		<div class="theme-color-text">{{ icon({ icon: 'triangleLeft' }) }}</div>
		<div><a href="/">Reset</a></div>
	</div>
</p>
{% endblock %}