{% extends './main.njk' %}
{% from 'components/icon-macro.njk' import icon %}
{% block content %}
<div class="hero">
	<h1 class="no-underline">
		<span class="me-2">{{ icon({ icon: 'bomb' }) }}</span><span>{{ errorCode }}</span>
	</h1>
	<div class="section-block">
		<a aria-hidden="true" class="no-underline" href="/">{{ icon({ icon: 'triangleLeft' }) }}<span class="ms-2 underline" href="/">Reset</span></a>
	</div>
</div>
{% endblock %}