<main class="content tt-main {% if section %}theme-{{ section }}{% endif %}">
    {% block content %}
    {% if sectionedContent %}
      {{ content | safe }}
    {% else %}
      <div class="container page-intro-outer">
        <div class="theme-color-text" style="transform: scale(-1, -1);">
          {% include 'components/theme/jagged.njk' %}
        </div>
        <div class="content page-intro{{ ' text-center' if centerContent }}">
          {{ content | safe }}
        </div>
        <div class="theme-color-text">
          {% include 'components/theme/jagged.njk' %}
        </div>
      </div>
    {% endif %}
  {% endblock %}
</main>
