<main class="content tt-main">
    {% block content %}
    {% if sectionedContent %}
      {{ content | safe }}
    {% else %}
      <div class="container page-intro-outer">
        <div aria-hidden="true" class="theme-color-text" style="transform: scale(-1, -1);">
          {% include 'components/theme/jagged.njk' %}
        </div>
        <div class="content page-intro{{ ' text-center' if align == 'center' else (' text-end' if align == 'right') }}">
          {{ content | safe }}
        </div>
        <div aria-hidden="true" class="theme-color-text">
          {% include 'components/theme/jagged.njk' %}
        </div>
      </div>
    {% endif %}
  {% endblock %}
</main>
