<div class="tt-nav-container">
	<nav class="navbar tt-navbar tt-nav navbar-expand-md main-nav" id="ttNavbar">
		<div class="container tt-nav-inner">
			<div class="container float-left tt-logo">
				<a class="navbar-brand" href="/">
					<div class="tt-logo-main">{{ name }}</div>
					<!-- <div class="tt-logo-est">Est. 2009</div> -->
				</a>
			</div>
			<div class="float-right">
				<button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu" aria-controls="navMenu" aria-expanded="false" aria-label="Toggle navigation">
					<span class="icon-bar top-bar"></span>
					<span class="icon-bar middle-bar"></span>
					<span class="icon-bar bottom-bar"></span>
				</button>
				<div class="container collapse navbar-collapse" id="navMenu">
					<ul class="navbar-nav ml-auto">
						{% for sectionClass, section in site.sections %}
							<li class="nav-item opt opt-{{ sectionClass }}">
								<a class="nav-link" href="{{ section.url }}">
								{{ section.name }}<div class="underbar"></div>
								</a>
							</li>
						{% endfor %}
						<li class="nav-item">
							<button class="nav-link" onclick="toggleThemeMode()">
								<div class="theme-mode-toggle">
									<div class="circle-inner">
										<div class="circle-inner-left">
											<div class="line"></div>
											<div class="line"></div>
											<div class="line"></div>
											<div class="line"></div>
											<div class="line"></div>
											<div class="line"></div>
											<div class="line"></div>
										</div>
										<div class="circle-inner-right">
											<div class="line"></div>
											<div class="line"></div>
											<div class="line"></div>
											<div class="line"></div>
											<div class="line"></div>
											<div class="line"></div>
											<div class="line"></div>
										</div>
									</div>
								</div>
							</button>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
	{% include 'components/theme/line-left.njk' %}
</div>