<div class="tt-nav-container">
  <nav class="navbar tt-navbar tt-nav navbar-expand-md main-nav" id="ttNavbar">
    <div class="container tt-nav-inner">
      <div class="container float-left tt-logo">
        <a class="navbar-brand" href="/">
          <div class="tt-logo-main">{{ name }}</div>
        </a>
      </div>
      <div class="float-right">
        <div class="p-0" id="navMenu">
          <ul class="navbar-nav ml-auto">
            {% for sectionClass, sectionItem in sections %}{% if not sectionItem.parent or sectionItem.parent == 'root' %}
              <li class="nav-item opt opt-{{ sectionClass }} theme-{{ sectionClass }}">
                <a class="d-inline-block nav-link no-underline py-1{{ ' active' if rootSection == sectionClass }}" href="{{ sectionItem.url }}">
                  <span aria-hidden="true" class="triangle-right active-indicator"></span> 
                  <span class="underline">{{ sectionItem.name }}</span>
                </a>
              </li>
            {% endif %}{% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </nav>
  {% include 'components/theme/line-left.njk' %}
</div>
