---
title: 'Portfolio'
section: portfolio
layout: 'layouts/custom/portfolio.njk'
resume: ''
---
{% from 'components/icon-macro.njk' import icon %}
{% from 'components/dictionary/portfolio/term-factory.njk' import createTerm, termList with context %}
<div class="hero">
	<h1>Portfolio</h1>
	<div class="content-block">
		<a aria-hidden="true" class="theme-red h2 no-underline d-inline-flex flex-row gap-4 justify-content-center align-items-center portfolio-download-resume-link" href="#">
			<div class="no-underline portfolio-download-resume-icon">
				<div class="portfolio-download-resume-lines text-center">
					{% include 'components/theme/three-vertical-lines.njk' %}
				</div>
				<div class="portfolio-download-resume-floppy">
					{{ icon({ icon: 'floppy' }) }}
				</div>
				<div class="normal-text text-center">
					<div class="d-inline-block">
						{{ icon({ icon: 'triangleDown' }) }}
					</div>
				</div>
			</div>
			<span class="underline">
				Download Resume
			</span>
		</div>
	</a>
	<div class="content-block">
		<h4 class="m-0 p-0">Get in touch</h4>
		<ul class="m-0 p-0 list-unstyled text-center">
			{% if site.email %}<li class="my-2"><span aria-hidden="true" class="me-2">{{ icon({ faSolid: 'Envelope' }) }}</span><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>{% endif %}
			{% if socials.LinkedIn %}<li class="my-2"><span aria-hidden="true" class="me-2">{{ icon({ faBrand: 'Linkedin' }) }}</span><a target="_blank" href="{{ socials.LinkedIn.url }}">LinkedIn</a></li>{% endif %}
		</ul>
	</div>
</div>
{% for index in portfolio.index %}{% set items = portfolio.items[index.id] %}
<div{% if index.theme %} class="theme-{{ index.theme }}"{% endif %}>
	<h2 id="{{ index.id }}">{{ index.label }}</h2>
	{% include 'components/item/item-list.njk' %}
</div>
{% endfor %}
