---
title: 'Portfolio'
section: portfolio
layout: 'layouts/custom/portfolio.njk'
resume: 'https://assets.timurtripp.com/portfolio/Resume-Tripp-2025-05-Public.pdf'
---
{% from 'components/icon-macro.njk' import icon %}
{% from 'components/dictionary/portfolio/term-factory.njk' import createTerm, termList with context %}

<h1>Portfolio</h1>
<section class="hero">
  <div class="content-block">
    <a aria-label="Load Resume" class="theme-red h2 no-underline d-inline-flex flex-row gap-4 justify-content-center align-items-center portfolio-download-resume-link" href="{{ resume }}">
      <div class="no-underline portfolio-download-resume-icon">
        <div class="portfolio-download-resume-lines text-center">
          {% include 'components/theme/three-vertical-lines.njk' %}
        </div>
        <div class="portfolio-download-resume-floppy">
          {{ icon({ icon: 'floppy' }) }}
        </div>
        <div class="normal-text text-center">
          <div class="d-inline-block">
            {{ icon({ icon: 'triangleDown' }) }}
          </div>
        </div>
      </div>
      <span class="underline underline-squiggle">Load Resume</span>
    </a>
  </div>
  <div class="content-block theme-green">
    <h4 class="m-0">Get in touch.</h4>
    {% if metadata.email %}
      <a class="d-flex flex-row gap-1 align-items-center no-underline" href="mailto:{{ metadata.email }}">
        {{ icon({ faSolid: 'Envelope' }) }}
        <span class="underline">{{ metadata.email }}</span>
      </a>
    {% endif %}
  </div>
</section>
{% for index in portfolio.index %}{% set items = portfolio.items[index.id] %}
  <section{% if index.theme %} class="theme-{{ index.theme }}"{% endif %}>
    <h2 id="{{ index.id }}">{{ index.label }}</h2>
    {% include 'components/item/item-list.njk' %}
  </section>
{% endfor %}
