---
title: 'Portfolio'
section: portfolio
layout: 'layouts/base.njk'
---
{% from '../_includes/components/dictionary/portfolio/term-factory.njk' import createTerm, termList with context %}

<h1>Portfolio</h1>
{% for indexItem in portfolio.index %}
<h2 id="{{ indexItem.id }}">{{ indexItem.label }}</h2>
<ul class="list-unstyled">{% for itemid, item in portfolio.items[indexItem.id] %}<li class="content-block">{% include '../_includes/components/item/' + indexItem.templates.summary %}</li>{% endfor %}</ul>
{% endfor %}
