---
section: 'portfolio'
layout: 'layouts/base.njk'
pagination:
  data: portfolio.dictionary.institutions
  size: 1
  alias: institutionid
path: '/portfolio/institutions/'
permalink: '{{ path }}{{ institutionid | slugify }}/'
---
{% import '_includes/components/dictionary-term.njk' as renderer %}
{{ renderer.term_page(portfolio.index, generated.portfolio, portfolio.dictionary, 'institutions', institutionid, path) }}
