---
title: 'Institutions'
section: 'portfolio'
layout: 'layouts/base.njk'
permalink: '/portfolio/institutions/'
---
<h1>Institutions</h1>
{% set content %}{% termList portfolio.dictionary.institutions | keys, 'institutions', portfolio.dictionary, portfolio.index, portfolio.items, generated.portfolio %}{% endset %}
{{ content | safe }}