---
section: 'portfolio'
layout: 'layouts/base.njk'
pagination:
  data: portfolio.dictionary.institutions
  size: 1
  alias: termid
permalink: '{{ portfolio.dictionary._index.institutions.path }}{{ termid }}/'
---
{% set content %}{% termPage termid, 'institutions', portfolio.dictionary, portfolio.index, generated.portfolio %}{% endset %}
{{ content | safe }}