---
section: 'portfolio'
layout: 'layouts/base.njk'
pagination:
  data: portfolio.dictionary._locations
  size: 1
  alias: termid
permalink: '{{ portfolio.dictionary._index._locations.path }}{{ termid }}/'
---
{% set content %}{% termPage termid, '_locations', portfolio.dictionary, portfolio.index, generated.portfolio %}{% endset %}
{{ content | safe }}