---
section: 'portfolio'
layout: 'layouts/base.njk'
termroot: 'portfolio'
termcategoryid: '_locations'
pagination:
  data: portfolio.dictionary._locations
  size: 1
  alias: termid
permalink: '{{ portfolio.dictionary._index._locations.path }}{{ termid }}/'
---
{% from '../_includes/components/dictionary/portfolio/term-factory.njk' import createTerm, termList with context %}
{% from '../_includes/components/dictionary/term-macros.njk' import termPage %}

{{ termPage(createTerm(termid, '_locations'), createTerm, termList) }}
