---
section: 'portfolio.tags.categories'
layout: 'layouts/base.njk'
termroot: 'portfolio'
termcategoryid: '_tagCategories'
pagination:
  data: portfolio.dictionary._tagCategories
  size: 1
  alias: termid
permalink: '{{ portfolio.dictionary._index._tagCategories.path }}{{ termid }}/'
---
{% from '../_includes/components/dictionary/portfolio/term-factory.njk' import createTerm, termList with context %}
{% from '../_includes/components/dictionary/term-macros.njk' import termPage %}

{{ termPage(createTerm(termid, '_tagCategories'), createTerm, termList) }}
