---
section: 'portfolio'
layout: 'layouts/base.njk'
permalink: '/portfolio/tags/categories/'
---
{% import '_includes/components/dictionary-term.njk' as renderer %}
<h1>Tag Categories</h1>
{{ renderer.collection_index(portfolio.index, generated.portfolio, portfolio.dictionary, '_tagCategories', permalink) }}
