---
section: 'portfolio'
layout: 'layouts/base.njk'
pagination:
  data: portfolio.dictionary.tags
  size: 1
  alias: tagid
path: '/portfolio/tags/'
permalink: '{{ path }}{{ tagid | slugify }}/'
---
{% import '_includes/components/dictionary-term.njk' as renderer %}
{{ renderer.term_page(portfolio.index, generated.portfolio, portfolio.dictionary, 'tags', tagid, path) }}
