---
section: 'portfolio'
layout: 'layouts/base.njk'
pagination:
  data: portfolio.dictionary.tags
  size: 1
  alias: termid
permalink: '{{ portfolio.dictionary._index.tags.path }}{{ termid }}/'
---
{% set content %}{% termPage termid, 'tags', portfolio.dictionary, portfolio.index, generated.portfolio %}{% endset %}
{{ content | safe }}