---
title: 'Tags'
section: 'portfolio'
layout: 'layouts/base.njk'
permalink: '/portfolio/tags/'
---
<h1>Tags</h1>
{% set content %}{% termList portfolio.dictionary.tags | keys, 'tags', portfolio.dictionary, portfolio.index, portfolio.items, generated.portfolio %}{% endset %}
{{ content | safe }}