{% macro icon(data, name) %}<div class="icon-container">{% if data.imageurl %}<div class="icon icon-framed{% if data.imagecrop %} icon-cropped{% endif %}"><img {% if name %}alt="{{ name }}" {% endif %}src="{{ data.imageurl }}"></div>{% elseif data.icon %}<div class="icon icon-monochrome">{% icon data.icon %}</div>{% elseif data.faSolid %}<div class="icon icon-monochrome">{% faSolid data.faSolid %}</div>{% elseif data.faBrand %}<div class="icon icon-monochrome">{% faBrand data.faBrand %}</div>{% endif %}</div>{% endmacro %}