{% macro icon(data, name) %}
{% if data.imageurl %}
  {% if data.imageicon %}
    <span aria-hidden="true" class="icon theme-color-bg" style="mask-image: url({{ data.imageurl }})"></span>
  {% else %}
    <span aria-hidden="true" class="icon icon-framed{% if data.imagecrop %} icon-cropped{% endif %}"><img {% if name %}alt="{{ name }}" {% endif %}src="{{ data.imageurl }}"></span>
  {% endif %}
{% elseif data.icon %}
  <span aria-hidden="true" class="icon icon-monochrome">{% icon data.icon %}</span>
{% elseif data.faSolid %}
  <span aria-hidden="true" class="icon icon-monochrome">{% faSolid data.faSolid %}</span>
{% elseif data.faBrand %}
  <span aria-hidden="true" class="icon icon-monochrome">{% faBrand data.faBrand %}</span>
{% endif %}
{% endmacro %}
