{% extends '../item-summary.njk' %}
{% from '../../dictionary/term-macros.njk' import termSummary %}
{% block itemName %}{{ item.award }}, {{ item.field }}{% endblock %}
{% block itemHeader %}
  {{ super() }}
  {% if item._institutions %}
      {% for institution in item._institutions %}
        {{ termSummary(createTerm(institution, 'institutions'), createTerm, termList, true) }}
      {% endfor %}
  {% endif %}
{% endblock %}
