.theme-component-line-left, .theme-component-line-right, .theme-component-line-1, .theme-component-line-2 {
	min-height: 4px;
}

.theme-component-line-1, .theme-component-line-2 {
	background-color: currentColor;
}

.theme-component-line-left .theme-component-line-1 {
	clip-path: polygon(100% 0, 100% 100%, 4px 100%, 0 0);
}

.theme-component-line-right .theme-component-line-1 {
	clip-path: polygon(100% 0, calc(100% - 4px) 100%, 0 100%, 0 0);
}

.theme-component-line-2 {
	position: absolute;
	height: auto;
}

.theme-component-line-left .theme-component-line-2 {
	left: 0;
}

.theme-component-line-right .theme-component-line-2 {
	right: 0;
}

.theme-component-thin-horizontal-line {
	display: block;
	width: 100%;
	height: 2px;
	background-color: currentColor;
	margin-top: 4px;
	margin-bottom: 4px;
}

.theme-component-thin-vertical-line {
	display: inline-block;
	width: 2px;
	height: 100%;
	background-color: currentColor;
	vertical-align: top;
	margin-left: 4px;
	margin-right: 4px;
}
