.theme-mode-toggle-container {
	display: none; /* Light theme is disabled */
	color: var(--theme-text-strong);
	font-size: 1rem;
	margin-left: 16px;
	border: none;
	padding-left: 0;
	padding-right: 0;
}

.theme-mode-toggle {
	display: inline-block;
	background: transparent;
	width: 23px;
	height: 23px;
	border-radius: 12px;
	border: 1px solid currentColor;
	padding: 1px;
}

.theme-mode-toggle .theme-mode-toggle-circle-inner {
	overflow: hidden;
	width: 100%;
	border-radius: 10px 10px 10px 10px;
	width: 19px;
	height: 19px;
}

.theme-mode-toggle .theme-mode-toggle-inner-left, .theme-mode-toggle .theme-mode-toggle-inner-right {
	position: relative;
	width: 50%;
	float: left;
	height: 20px;
	transition: width .5s linear;
}

@media(prefers-color-scheme: dark) {
	.theme-mode-toggle .theme-mode-toggle-inner-left, .theme-mode-toggle .theme-mode-toggle-inner-right {
		float: right;
	}
}

.theme-mode-light .theme-mode-toggle .theme-mode-toggle-inner-left, .theme-mode-dark .theme-mode-toggle .theme-mode-toggle-inner-right {
	width: 100%;
}

.theme-mode-light .theme-mode-toggle .theme-mode-toggle-inner-right, .theme-mode-dark .theme-mode-toggle .theme-mode-toggle-inner-left {
	width: 0%;
}

.theme-mode-toggle .theme-mode-toggle-line {
	height: 1px; 
	background-color: currentColor;
	margin: 2px 0;
}

.theme-mode-toggle .theme-mode-toggle-inner-left .theme-mode-toggle-line {
	height: 2px;
	margin: 1px 0;
}

.theme-mode-toggle .theme-mode-toggle-inner-right .theme-mode-toggle-line.theme-mode-toggle-line-1 {
	margin-top: 0;
}

.theme-mode-tooltip-container {
	position: absolute;
	transform: translateX(39px) translateY(10px) rotate(-40deg);
	z-index: 98;
}
