{% extends 'layouts/html.njk' %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    body {
      overflow: hidden;
      margin: 0;
      padding: 0;
    }
    #csci5229canvas {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
    }
    #csci5229controls {
      position: absolute;
      display: flex;
      bottom: 32px;
      right: 32px;
      flex-direction: row;
      list-style-type: none;
      background-color: rgba(0, 0, 0, .75);
      box-shadow: 0 8px 8px rgba(0, 0, 0, .25);
      border-radius: 8px;
      margin: 0;
      padding: 0;
    }
    #csci5229controls li {
      display: block;
    }
    #csci5229controls li a {
      display: block;
      color: #ebebeb;
      box-sizing: content-box;
      border: 0;
      margin: 0;
      padding: 14px;
    }
    #csci5229controls li a:hover, #csci5229controls li a:active {
      color: #fff;
      background-color: rgba(255, 255, 255, .25);
    }
    #csci5229controls li:first-child a {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }
    #csci5229controls li:last-child a {
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }
    #csci5229controls li a::after {
      display: none;
    }
    #csci5229controls li a svg {
      display: block;
      width: 20px;
      height: 20px;
    }
  </style>
  <script type="text/javascript" src="{{ webglBaseUrl }}dist/main.js"></script>
{% endblock %}
