{#
/**
 * @file
 * Contains the template to display the three horizontal lines theme component.
*/
#}
<div class="theme-component-thin-horizontal-line theme-color-text"></div>
<div class="theme-component-thin-horizontal-line theme-color-alt"></div>
<div class="theme-component-thin-horizontal-line theme-color-text"></div>
