{#
/**
 * @file
 * Contains the template to display the three vertical lines theme component.
*/
#}
<div class="theme-component-thin-vertical-line theme-color-text"></div><div class="theme-component-thin-vertical-line theme-color-alt"></div><div class="theme-component-thin-vertical-line theme-color-text"></div>
