{% extends 'layouts/html.njk' %}
{% block page %}
	{% block header %}
		{% include 'blocks/header.njk' %}
	{% endblock %}
	{% block content %}
		{% include 'blocks/main.njk' %}
	{% endblock %}
	{% block footer %}
		{% include 'blocks/footer.njk' %}
	{% endblock %} 
{% endblock %}