<!DOCTYPE HTML>
<html lang="{{ lang or 'en' }}">
  <head>{% block head %}
    <title>{{ siteTitle }}</title>
    <meta name="author" content="{{ author }}">
    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="{% for keyword in keywords %}{{ ',' if loop.index != 1 }}{{ keyword }}{% endfor %}">
    <meta name="viewport" content="width=device-width,initial-scale=1">{% if noIndex %}
    <meta name="robots" content="noindex">{% endif %}
    <link rel="icon" href="/assets/favicon-32x32.png" sizes="32x32">
    <link rel="mask-icon" type="image/svg+xml" href="/assets/mask-icon.svg" color="{{ site.color }}">
  {% endblock %}</head>
  <body class="theme-mode-dark">{% block body %}
    {{ content|safe }}
  {% endblock %}</body>
</html>
