{% from './term-macros.njk' import termLabel, termSummary %}
{% if asSummary %}
  {% set term = createTerm(descriptor.term, descriptor.collection) %}
  <div class="descriptor">
    {% if asSummary %}{% if inline and previousTermInline %}, {% endif %}{{ termLabel(term, not nested) }}{% else %}{{ termSummary(term, createTerm, termList) }}{% endif %}
  </div>
{% endif %}
