<h1><span class="h3">{{ term.index.label(false) | safe }}:</span>{{ term.label(false) | safe }}</h1><div class="text-center">{{ term.description(false) | safe }}</div>
{% if term.relationships.dataItems %}{% for dataIndexItem in term.dataIndex %}{% set relatedDataItems = term.relationships.dataItems[dataIndexItem.id] %}{% if relatedDataItems %}<h2 id="{{ dataIndexItem.id }}">{{ dataIndexItem.label }} – {{ relatedDataItems | length }}</h2>{% endif %}{% endfor %}{% endif %}
{% if term.relationships.terms %}{% for relatedCategoryId, relatedTerms in term.relationships.terms %}{% set relatedTermIndex = term.newTermFrom(relatedCategoryId, '_index') %}<h2 id="{{ relatedCategoryId }}">{{ relatedTermIndex.label() | safe }} – {{ relatedTerms | length }}</h2>{{ term.termListFrom(relatedTerms, relatedCategoryId) | safe }}{% endfor %}{% endif %}
{% if term.meta.related %}<h2 id="related">Related – {{ term.meta.related | length }}</h2>{{ term.termListFrom(term.meta.related, term.collectionId) | safe }}{% endif %}