<h1><span class="h3">{{ term.index.label(false) | safe }}:</span>{{ term.label(false) | safe }}</h1><div class="text-center">{{ term.description(false) | safe }}</div>
{% if term.relationships.items %}{% for indexItem in term.itemIndex %}{% set relatedItems = term.relationships.items[indexItem.id] %}{% if relatedItems %}<h2 id="{{ indexItem.id }}">{{ indexItem.label }} – {{ relatedItems | length }}</h2>{% endif %}{% for id in relatedItems %}{% set item = term.items[indexItem.id][id] %}{% include '../item/' + indexItem.templates.summary %}{% endfor %}{% endfor %}{% endif %}
{% if term.relationships.terms %}{% for relatedCategoryId, relatedTerms in term.relationships.terms %}{% set relatedTermIndex = term.termFrom(relatedCategoryId, '_index') %}<h2 id="{{ relatedCategoryId }}">{{ relatedTermIndex.label() | safe }} – {{ relatedTerms | length }}</h2>{{ term.termListFrom(relatedTerms, relatedCategoryId) | safe }}{% endfor %}{% endif %}
{% if term.meta.related %}<h2 id="related">Related – {{ term.meta.related | length }}</h2>{{ term.termListFrom(term.meta.related, term.collectionId) | safe }}{% endif %}