{% from './term-macros.njk' import termLabel, termDescription, termIcon %}
{% from './term-macros.njk' import termList as renderTermList %}

<section class="hero text-center"><h1><span class="h3">{{ termLabel(term.index, false) }}:</span><div><div class="position-relative d-inline-block mx-auto theme-text-strong">{{ termIcon(term) }}</div></div>{{ termLabel(term, false) }}</h1><div>{{ termDescription(term, createTerm, termList, false) }}</div></section>
<section class="item-relationships">{% if term.relationships.items %}{% for indexItem in term.itemIndex %}{% set relatedItems = term.relationships.items[indexItem.id] %}<div{% if indexItem.theme %} class="theme-{{ indexItem.theme }}"{% endif %}>{% if relatedItems %}<h2 id="{{ indexItem.id }}">{{ indexItem.label }} – {{ relatedItems | length }}</h2>{% endif %}<ul class="list-unstyled">{% for id in relatedItems %}{% set item = term.items[indexItem.id][id] %}<li class="section-block">{% include '../item/' + indexItem.templates.summary %}</li>{% endfor %}</ul></div>{% endfor %}{% endif %}</section>
<section class="term-relationships">{% if term.relationships.terms %}{% for relatedCategoryId, relatedTerms in term.relationships.terms %}{% set relatedTermIndex = createTerm(relatedCategoryId, '_index') %}<h2 id="{{ relatedCategoryId }}">{{ termLabel(relatedTermIndex) }} – {{ relatedTerms | length }}</h2>{{ renderTermList(termList(relatedTerms, relatedCategoryId), createTerm, termList) }}{% endfor %}{% endif %}</section>
<section class="related-terms">{% if term.meta.related %}<h2 id="related">Related – {{ term.meta.related | length }}</h2>{{ renderTermList(termList(term.meta.related, term.collectionId), createTerm, termList) }}{% endif %}</span>
