{% set url %}{% if asLink %}{% if term.index.meta.path %}{{ term.index.meta.path }}{{ term.termId }}/{% elif term.meta.url %}{{ term.meta.url }}{% endif %}{% endif %}{% endset %}{% set externalLink = url == term.meta.url %}{% if url %}<a class="label collection-{{ term.collectionId }} term-{{ term.termId }}{% if externalLink %} external-link" target="_blank{% else %} item-underline{% endif %}" href="{{ url }}">{{ term.meta.label }}</a>{% else %}<span class="label collection-{{ term.collectionId }} term-{{ term.termId }}">{{ term.meta.label }}</span>{% endif %}