{% if asSummary or descriptor.display != 'inline-only' %}{% set term = term.termFrom(descriptor.term, descriptor.collection) %}<div class="descriptor{% if asSummary and inline %} d-inline{% endif %}">{% if asSummary %}{% if inline and previousTermInline %}, {% endif %}{{ term.label() | safe }}{% else %}{{ term.summary() | safe }}{% endif %}</div>{% endif %}