{% from './term-macros.njk' import termLabel, termDescription %}<div class="my-1 content-block compact-content summary {% if nested %}nested-summary {% endif %}d-flex gap-2 flex-row collection-{{ term.collectionId }} term-{{ term.termId }}">{{ termIcon(term) }}<div>{% if nested %}<h4>{{ termLabel(term, true) }}</h4><div class="nested-content">{{ termDescription(term, createTerm, termList, true, true) }}</div>{% else %}<h3>{{ termLabel(term, true) }}</h3><div>{{ termDescription(term, createTerm, termList, true) }}</div>{% endif %}</div></div>