{% from './term-macros.njk' import termSummary %}

<ul class="term-list{% if nested %} d-inline{% endif %} list-unstyled">
	{% for term in terms %}
	{% if nested %}<li class="d-inline">{{ termLabel(term) }}</li>{% else %}<li class="content-block">{{ termSummary(term, createTerm, termList) }}</li>{% endif %}
	{% endfor %}
</ul>
