{% set previousTermInline = false %}{% for descriptor in term.meta.descriptors %}{% if not summary or descriptor.summary %}{% include '_includes/components/dictionary/term-descriptor.njk' %}{% set previousTermInline = descriptor.inline %}{% endif %}{% endfor %}